"Welcome, <%= @user.name %>!"

<a href="/sessions/logout">Log Out</a>

What would you like to do today?
    <p>Do you have a new story to tell?</p>
    <a href="/stories/new_story">Write A Story</a>
    <p>Edit A Previous Story?</p>
    <a href="/stories/edit_story">Make Edits</a>
    <p>View Stories</p>
    <a href="/stories/public_stories">View Stories</a>
    <p>Sign Out</p>
    <a href="/sessions/logout">